<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.pavadinimas }}</title>
</head>
<body>
<h4>Projekto {{ project.pavadinimas }} redagavimas</h4>
<form action="" method="post">
    <p>Project pavadinimas</p>
    <p><input type="text" value="{{ project.pavadinimas }}" name="pavadinimaslaukelis"></p>
    <p>Projekto kaina</p>
    <p><input type="text" value="{{ project.kaina }}" name="kainalaukelis"></p>
    <p>Projekto kaina</p>
    <p><input type="submit" value="Save"></p>
</form>
</body>
</html>